.hero-section {
  background-color: #f5e1e1;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/animalshelter.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}
.hero p {
  font-size: 1.2rem;
  max-width: 800px;
  margin-bottom: 2rem;
}
.hero .btn {
  background-color: #ffb347;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}
